@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 400;
  src: local('PTSans'), url('PTSans-Regular.ttf');
}

@font-face {
  font-family: 'PTSans';
  font-style: italic;
  font-weight: 400;
  src: local('PTSans'), url('PTSans-Italic.ttf');
}

@font-face {
  font-family: 'PTSans';
  font-style: normal;
  font-weight: 700;
  src: local('PTSans'), url('PTSans-Bold.ttf');
}

@font-face {
  font-family: 'PTSans';
  font-style: italic;
  font-weight: 700;
  src: local('PTSans'), url('PTSans-BoldItalic.ttf');
}