// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify

// color
$color-white: #ffffff;
$color-light-grey: #EEF1F4;
$color-lightest-grey: #F5F5F5;
$color-grey: #C3C4C3;
$color-dark-grey: #656565;
$color-black: #020202;
$color-pacific: #0DACCB;
$color-yellow: #FFFF00;
$color-green: #0FC841;
$color-red: #FF0000;
$color-space: #1A334F;