@import url('@/assets/fonts/style.css');

* {
  font-family: "Inter";
  color: #262626;
}

body {
  background: $color-lightest-grey;
}

// typography
.regular-body {
  font-size: 12px !important;
  line-height: 20px;
  font-weight: 400;
}
.regular-subtitle {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
.regular-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.regular-h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.regular-h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}
.regular-h4 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
}
.regular-h3 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 400;
}
.regular-h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 400;
}
.regular-h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
}

.semibold-body {
  font-size: 12px !important;
  line-height: 20px;
  font-weight: 600 !important;
}
.semibold-subtitle {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600 !important;
}
.semibold-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600 !important;
}
.semibold-h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600 !important;
}
.semibold-h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600 !important;
}
.semibold-h4 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 600 !important;
}
.semibold-h3 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 600 !important;
}
.semibold-h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 600 !important;
}
.semibold-h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 600 !important;
}

.bold-body {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}
.bold-subtitle {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
}
.bold-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.bold-h6 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.bold-h5 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.bold-h4 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
}
.bold-h3 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
}
.bold-h2 {
  font-size: 46px;
  line-height: 54px;
  font-weight: 700;
}
.bold-h1 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

.caption-regular {
  font-size: 10px;
  line-height: 18px;
  font-weight: 400;
}
.caption-semibold {
  font-size: 10px;
  line-height: 18px;
  font-weight: 600 !important;
}
.caption-bold {
  font-size: 10px;
  line-height: 18px;
  font-weight: 700;
}

// button
.v-btn {
  text-transform: capitalize !important;
  letter-spacing: normal !important;
}

.btn-lg {
  border-radius: 24px !important;
  padding: 0 16px !important;
  height: 46px !important;
}

.btn-sm {
  border-radius: 8px !important;
  padding: 0 12px !important;
  height: 36px !important;
}

.btn-primary {
  background: #1A334F !important;
  color: $color-white !important;
}

// input
.v-input {
  .v-input__slot {
    min-height: 46px !important;
    border-radius: 8px !important;
    padding: 0 16px !important;

    fieldset {
      border-color: #EEF1F4 !important;
    }
  }

  .v-input__append-inner {
    align-self: center !important;
    margin-top: 0px !important;
  }
}

.v-select {
  .v-input__append-inner {
    align-self: center !important;
    margin-top: 0px !important;
  }

  .v-input__slot {
    fieldset {
      border-color: $color-light-grey !important;
    }
  }

  .v-input__icon--clear {
    .v-icon {
      font-size: 20px;
    }
  }
}

.v-list-item__title {
  font-size: 14px !important;
}

.menu-profile {
  top: 76px !important;
  box-shadow: 0px 30px 40px 0px #1B1B1B33 !important;
  border-radius: 8px !important;
  border: 1px solid $color-light-grey;

  .wrap-menu {
    background: $color-white;
    width: 270px;

    .wrap-img {
      width: 24px;
    }

    .v-btn {
      border-bottom: 1px solid $color-light-grey;
      border-radius: 0px;
    }

    .v-btn:last-child {
      border-bottom: none;
    }
  }
}

.menu-datepicker {
  min-width: auto !important;
}

.v-picker__title {
  display: none;
}

.v-date-picker-header {
  padding: 20px 16px 4px !important;
}

.menu-search {
  top: 61px !important;
  box-shadow: 0px 30px 40px 0px #1B1B1B33 !important;
  border-radius: 0 0 8px 8px !important;
  border: 1px solid $color-light-grey;
  max-width: min-content !important;
  position: fixed !important;

  .wrap-menu {
    background: $color-white;

    .group-bottom {
      padding: 4px 16px 8px;

      .regular-subtitle {
        color: $color-dark-grey;
      }

      .item-history {
        color: $color-black;
        padding: 0px;
      }
    }

    .wrap-tag {
      padding-top: 12px;
      display: flex;
      flex-wrap: wrap;
      margin: -4px;

      .item-tag {
        background: $color-pacific-50;
        padding: 8px 12px;
        border-radius: 20px;
        width: fit-content;
        margin: 4px;
        cursor: pointer;
      }
    }

    .group-top {
      padding: 5px 16px 8px;
      border-bottom: 1px solid $color-light-grey;

      .regular-subtitle {
        color: $color-dark-grey;
      }
    }
  }
}

@media screen and(max-width: 700px) {
  .menu-search {
    min-width: 100% !important;
    left: 0px !important;
    top: 81px !important;
  }
}